.ExitTestWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.401);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ExitTestContainer {
  background-color: #fff;
  border-radius: 15px;
}

.CloseTestBtn {
  border: none;
  background-color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin-left: 285px;
  margin-top: 5px;
}

.ExitTestText {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.ExitTestBtnContainer {
  display: flex;
  justify-content: center;
}

.ExitTestBtn {
  background-color: #ff4d4dc6;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(255, 77, 77, 0.7);
}

.ExitTestBtn:hover {
  transition: 0.3s ease;
  color: #fff;
}
