.questionsList {
  list-style: none;
  gap: 20px;
}

.questionsList li {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.questionsList li:hover {
  animation: paint 0.6s forwards;
}

.answersList {
  list-style: none;
  gap: 20px;
}

.backButton {
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  background-color: #6ae56d;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgb(106, 229, 109, 0.7);
}

.correctAnswer {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #bababa;
  display: none;
}

.correctAnswer:active {
  display: block;
}

@keyframes paint {
  0% {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 5px 15px rgb(106, 229, 109, 0.7);
  }
}
