.testsList {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  min-width: 400px;
}

.testsList li {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.6s linear;
}

.testsList li h3 {
  font-weight: 500;
}

.testsList li:hover {
  animation: paint 0.6s forwards;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.testsList button {
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  background-color: #6ae56d;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgb(106, 229, 109, 0.7);
}

@keyframes paint {
  0% {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 5px 15px rgb(106, 229, 109, 0.7);
  }
}
